@import '../../variables.css';

.icon {
  background-color: none;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: var(--clr-lightGrayishBlue);
  padding: 8px;
  border-radius: 50%;
  z-index: 2;
}