@import "../variables.css";

.card {
  display: flex;
  font-size: var(--font-paragraph);
  margin-top: 32px;
}

.card img {
  width: 3em;
  border-radius: 50%;
}

.card div {
  margin-left: 1.25em;
}

.card h2 {
  color: var(--clr-veryDarkGrayishBlue);
  font-size: 0.85rem;
  font-weight: 600;
}

.card span {
  color: var(--clr-grayishBlue);
}

@media (min-width: 1440px) {
  .card {
    margin-top: 1.5em;
  }
}
