@import '../variables.css';

.icon {
  position: absolute;
  right: 32px;
  bottom: 2.5%;
  background-color: var(--clr-lightGrayishBlue);
  padding: 8px;
  border-radius: 50%;
}

@media (min-width: 1440px) {
  .icon {
    right: 40px;
    bottom: 11%;
  }
}