@import '../../variables.css';

dialog {
  padding: 20px 32px;
  background-color: var(--clr-veryDarkGrayishBlue);
  border: none;
  border-radius: 0 0 8px 8px;
  color: #fff;
  font-size: var(--font-paragraph);
  bottom: 0;
  z-index: 1;
  width: 100%;
}

dialog span {
  letter-spacing: 6px;
}

dialog svg {
  display: none;
  position: absolute;
  width: 14%;
  bottom: -23%;
  z-index: -1;
  left: 44%;
}

.wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

@media (min-width: 1440px) {
  dialog {
    width: fit-content;
    padding: 16px 37px;
    border-radius: 8px;
    top: 51%;
    left: 68.5%;
  }

  dialog svg {
    display: initial;
  }
}